.profile {
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	top: 0;
	display: block;
	width: auto;
	height: auto;
	text-align: center;

}



.rightsidebar {
	position: fixed;
	width: 30%;
	height: 100%;
	right: 0;
	margin-top: 0;
	background-image: url("images/back_ground_image.jpg");
	background-size: cover;
	background-position: center;
	color: white;
}
.leftsidebar {
	width: auto;
	margin-right: 30%;
	top:0;
	position: relative;
	/*border-style: solid;*/
	/*border-width: 5px;*/
	text-align: center;
	
}

.container {
	margin: auto;
	width: 85%;
	border-radius: 3px; 
	overflow: hidden;

}

.section {
	right: 0;
	/*border-radius: 15px; overflow: hidden;*/
    border: 2px solid green;
    border-top: 40px solid green;
    border-image: url("images/back_ground_image.jpg") 10% stretch;
    /*padding: 20px; */
    /*border-top: 40px back_ground_image #73AD21;*/
    height: auto;
    /*margin: auto;*/
    margin-left: 0;
	box-shadow: 1px 1px 2px 1px #888888 inset;
    margin-right: 0;
    /*margin-bottom: 30px;*/
}
.section h3 {
	line-height: 50%;
}
.section h4 {
	color: #696969;
	line-height: 50%;
}

.section p {
	color: #696969;
}

.block {
	margin-bottom: 30px;
}

